
	<h1>2 Issues</h1>
	<table>
		<tr style='text-align: left'>
			<th>#</th>
			<th>State</th>
			<th>User</th>
			<th>Title</th>
		</tr>
		

		<tr>
			<td><a href='https://github.com/golang/go/issues/10535'>10535</td>
			<td>open</td>
			<td><a href='https://github.com/dvyukov'>dvyukov</a></td>
			<td><a href='https://github.com/golang/go/issues/10535'>x/net/html: void element &lt;link&gt; has child nodes</a></td>
			<td></td>
		</tr>
		

		<tr>
			<td><a href='https://github.com/golang/go/issues/3133'>3133</td>
			<td>closed</td>
			<td><a href='https://github.com/ukai'>ukai</a></td>
			<td><a href='https://github.com/golang/go/issues/3133'>html/template: escape xmldesc as &amp;lt;?xml</a></td>
			<td></td>
		</tr>
		
	</table>
